:root {
  --color-background: #101020;
  --color-element: #181830;
  --color-text: #D0D0F0;
  --color-title: #20D0A0;
  --color-selected: #D0A020;
  --color-link: #20A0D0;
}

body {
  color: var(--color-text);
  background: var(--color-background);

  margin: 1em;

  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}